body {
    color: #626262;
    font-family: open sans,Arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
}
header {
    position: fixed;
    top: 0;
    z-index: 800;
    width: 100%;
    transition: background .4s ease,height .4s ease;
}
h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
    font-family: open sans,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: 300;
    color: #2c2c2c;
}
a {
    text-shadow: none!important;
    color: #3a8fc8;
    transition: color .1s linear 0s,background-color .1s linear 0s,opacity .2s linear 0s!important;
}
a, a:focus, a:hover, a:active {
    outline: 0!important;
    text-decoration: none;
}
.header-inner {
    line-height: 110px;
}
.main-nav {
    height: 110px;
}
.transparent {
    background-color: black;
}
header .menu {
    margin: 0;
    display: inline-block;
}
header .menu li {
    display: inline-block;
    list-style: none;
    font-size: 13px;
    margin-right: 12px;
    vertical-align: middle;
}
header .menu li a {
    position: relative;
    text-transform: uppercase;
    font-family: montserrat;
    padding-right: 21px;
    display: block;
    -webkit-transition-property: opacity; /* Safari */
    -webkit-transition-duration: .5s; /* Safari */
    transition-property: opacity;
    transition-duration: .5s;
    font-weight: bold;
}
header .menu li a:not(.btn) {
    color: #fff;
    opacity: .5;
}
header .menu li a:not(.btn).active {
    opacity: 1;
}
header .menu li a:not(.btn):not(.active):hover {
    opacity: .8;
}
.header .menu li {
    display: inline-block;
    list-style: none;
    font-size: 13px;
    margin-right: 12px;
    vertical-align: middle;
}
ul li, ol li {
    padding-left: 3px;
    line-height: 24px;
}
.jumbotron {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f0f0f0;
}
.full-vh {
    height: 100vh;
}
.btn {
    font-family: open sans,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    border: 1px solid #f0f0f0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-image: none!important;
    color: #626262;
    background-color: #fff;
    text-shadow: none;
    box-shadow: none;
    line-height: 21px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    transition: color .1s linear 0s,background-color .1s linear 0s,opacity .2s linear 0s!important;
}
.btn-sm, .btn-group-sm>.btn {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 11.9px;
    line-height: 20px;
}
header .menu>li>a.btn, .header .menu>li>a.btn:hover {
    opacity: 1;
}
.btn-bordered.btn-white {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.btn-bordered.btn-white:hover {
    background-color: #fff;
    color: #000;
}
.btn-bordered:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    box-shadow: none;
}
.btn:hover {
    background-color: #fafafa;
    border: 1px solid rgba(98,98,98,.27);
}
.jumbotron .inner {
    position: relative;
    z-index: 2;
}
.full-height {
    height: 100%!important;
}
.full-width {
    width: 100%!important;
}
.slide {
    width: 100vw;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.slide-wrapper {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}
